*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.category_container{
    display: block;
    margin: 5px 10px;
    overflow: hidden;
}
.catmenu{
    text-align: center;
}
.category_item{
    float: left;
    width: 8%;
    background-color:lightgrey;
    padding:8px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color:black;
    margin:1px;
    border-radius: 4px 0 4px 0;
}
.category_item:hover{
    background-color: greenyellow;
    color: white;
}
.block_container{
    display: block;
    margin: 0 50px 0 75px;
}

.produk_item{
    float:left;
    padding:5px;
    transition: all 0.5s ease;
}

.hide{
    transform: scale(0);
    width: 0;
    padding:0;
    transition: all 0.5s ease;
}
